@media (max-width: 1200px)
  .container
    max-width: 960px
    padding: 0 10px
  .sidepanel
    display: none
  .about
    padding-top: 80px
    &__wrapper
      grid-template-columns: 400px 535px
      column-gap: 30px
    &__skills
      grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px)
      column-gap: 25px
      row-gap: 0
  .resume
    &__wrapper
      grid-template-columns: repeat(2,390px)
      column-gap: 65px
  .works
    &__wrapper
      grid-template-columns: repeat(3,minmax(270px,auto))
    &__ratings
      grid-template: repeat(2,minmax(70px,auto))/repeat(2,350px)

@media (max-width: 992px)
  .container
    max-width: 720px
    padding: 0 10px
    .title
      &__fz36
        font-size: 30px
    .about
      &__wrapper
        grid-template-columns: 300px 380px
        height: 100%
      &__photo
        img
          height: 100%
      &__skills
        grid-template-columns: 350px
        grid-auto-rows: minmax(115px, auto)
      &__skill-item
        grid-template-columns: 40px 320px
        column-gap: 20px
    .resume
      margin-top: 55px
      &__wrapper
        grid-template-columns: repeat(2,345px)
        column-gap: 65px
        padding: 10px
    .works
      &__wrapper
        grid-template-columns: repeat(2,minmax(270px,auto))
      &__ratings
        grid-template: repeat(2,minmax(70px,auto))/repeat(2,350px)


@media (max-width: 768px)
  .container
    max-width: 510px
    padding: 0 10px
    .title
      &__fz48
        font-size: 28px
    .promo
      &__title
        width: 300px
        line-height: 39px
    .about
      padding-top: 40px
      &__wrapper
        grid-template: 480px auto auto / 1fr
      &__photo
        grid-row: unset
      &__skills
        grid-template-columns: repeat(2, 240px)
      &__skill-item
        grid-template-columns: 40px 200px
        column-gap: 20px
    .resume
      &__wrapper
        padding: 40px 10px
        grid-template-columns: repeat(2,345px)
        column-gap: 45px


@media (max-width: 576px)
  .container
    width: 100%
    padding: 0 10px
    .title
      &__48
        font-size: 26px
      &__36
        font-size: 24px
    .hamburger
      right: 20px

    .menu
      &__block
        width: 250px
        padding-left: 20px
    .promo
      background: url("../img/main_bg.jpg") no-repeat 57%/cover
      &__btns
        margin-top: 30px
    .about
      &__wrapper
        grid-template: 340px auto auto / 1fr
      &__skills
        grid-template-columns: 1fr
    .resume
      margin-top: 41px
      padding: 0
      &__wrapper
        grid-template: 500px auto auto / 1fr
    .works
      &__wrapper
        grid-template-columns: repeat(1,minmax(270px,auto))
      &__ratings
        grid-template: repeat(2,minmax(70px,auto))/repeat(1,300px)
        &_item
          grid-template: minmax(21px,auto) 14px/200px 90px
        &_line
          width: 300px














